torch
torchvision
matplotlib
opencv-python
albumentations>=0.3.2
grad-cam >= 1.3.7
requests
scikit-learn
einops
importlib-metadata
mat4py
matplotlib
modelindex
numpy
rich
coverage
interrogate
pytest